@page "/"
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Reddit Clone</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
        <p>Here you can browse interesting posts.</p>
        <button @onclick='() => NavMgr.NavigateTo("Posts")'>Go to posts</button>
    </Authorized>
    <NotAuthorized>
        <p>lol you monkey are not logged in!</p>
        <button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>
    </NotAuthorized>
</AuthorizeView>