@page "/Posts"
@using System.Net
@using ApiContracts_DTO
@using BlazorApp.Components.Services
@inject IPostService PostService
@inject IUserService UserService
@inject NavigationManager Navigation
@inject HttpClient Http

<h3>Post list</h3>

@if (posts is null)
{
    <p>Loading...</p>
}
else if (!posts.Any())
{
    <p>No posts found.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in posts)
        {
            var author = users.FirstOrDefault(u => u.Id == p.Id);
            <tr style="cursor:pointer" @onclick="@(() => GoToPost(p.Id))">
                <td> @p.Title</td>
                <td> @p.Body</td>
                <td> @(author?.UserName)</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<PostDto>? posts;
    private List<UserDto>? users;

//Man laver en protected override async task, for at undgå at blokere UI tråden
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var postResult = await PostService.GetMany();
            posts = postResult.ToList() ?? new List<PostDto>();
            //posts = await Http.GetFromJsonAsync<List<PostDto>>("posts");
   

            var userResult = await UserService.GetMany();
            users = userResult.ToList() ?? new List<UserDto>();
            //users = await Http.GetFromJsonAsync<List<UserDto>>("users");
        }
        catch (Exception ex)
        {
            posts = new List<PostDto>();
            users = new List<UserDto>();
        }
    }

    private void GoToPost(int postId) => Navigation.NavigateTo($"Posts/{postId}");
}